<div class='title-bracket'>
  <div class="container">
    <h1>Movie Lists</h1>
    <p>Browse some movie lists, or create your own!</p>
  </div>
</div>

<%= link_to 'Create New', new_list_path %>

<div class="list-container">
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list), class: "list-group" %>
  <% end %>
</div>
