<h1>Movie Lists</h1>

<div id=list>
  <ol>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ol>
</div>

<%= link_to 'Create New', new_list_path %>
