<div id="<%= bookmark %>">
  <p>
    <strong>Comment:</strong>
    <%= bookmark.comment %>
  </p>

  <p>
    <strong>List:</strong>
    <%= bookmark.list_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= bookmark.movie_id %>
  </p>

</div>
